*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #488037;
    color: white;
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 60px 10px;
}

.cabecalho-imagem{
    width: 20%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.escola {
    background-color: #488037;
    color: white;
    ;
}

.titulo2{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;    
}

.conteudo{
    padding: 24px 0;
    margin: 20px;
}

.texto{
    margin: 20px;
    font-size: 20;
}

.rodape{
    background-color:  #49b627;
    text-align: center;
}

.rodape-imagem{
    height: 60px;
    padding: 80px 0;
    background-color: #49b627;
}

.introducao{
    padding: 80px 0;
    font-size: 20;
}

img{
    width:70%;
}

.titulo{
    padding: 100px 10;
    margin: 10 50px;
    font-size: 33;
} 